.details {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card {
    max-width: 60%;
    margin: 0 auto;
    .card-title {
        font-size: 2.6rem;
        font-weight: 400;
        padding-bottom: 2rem;
    }
    p {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 650px) {
    .card {
      max-width: 80%;
    }
}