.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: end;
    .btn-create {
        margin: 0 0 1rem 0;
    }
    .item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .post-item a {
            font-size: 1.2rem;
        }

        .buttons {
            display: flex;
            margin-left: 0.5rem;
            .post-button-up {
                margin-right: 0.5rem;
            }
        }
    }
}