    p {
        font-size: 1.2rem;
        font-weight: 500;
        text-align: center;
        width: 70%;
        margin: 1rem auto 0 auto;
    }

    .p-succes {
        background-color: #c3e6cb;
    } 

    .p-error {
        background-color: #f5c6cb;
    }
    
    h1 {
        font-size: 3rem;
        font-weight: 550;
    }